<center><h1>Displaying all your connected friends:</h1></center><br><br>




<table border="5" align="center">
	<tr>
		<th>FB friend</th>
		<th>WP listing</th>
	</tr>
<% @graph_data2.each do |location| %>
<tr>
	<td>
	<br>
		<%= image_tag location["picture"]%><br>
		<%= location["name"] %><br>
		Location:
		<%= location["location"]["name"] unless location["location"].nil? %><br>
		FirstName:
		<%= location["first_name"]%><br>
		LastName:
		<%= location["last_name"]%><br>
		Birthdate:
		<%= location["birthday"] unless location["birthday"].nil? %><br><br>
	</td>
	
	<td>
		<% unless location['wp']['errors']%>
			<% location['wp']['listings'].each do 	|listing| %>
				<%= listing['displayname'] %><br>
				<%= listing['address']['fullstreet'] %><br>
				<%= listing['address']['city'] %>,
				<%= listing['address']['state'] %>
				<%= listing['address']['zip'] %><br><br>
				<% end %>
		<% end %>
	</td>

</tr>

<% end %>
</table>

